@font-face {
    font-family: Clip;
    src: url(fonts/clip.ttf);
}

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #f7f7f7;
    background-color: #1f2021;
	background-image: url(../img/1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.section {
    background: #30afd5; /* Old browsers */
    background: -moz-linear-gradient(top, #30afd5 0%, #0072c3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #30afd5 0%,#0072c3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #30afd5 0%,#0072c3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
}

.wrap > .container {
    padding: 70px 15px 20px;
}

@media(min-width: 1200px) {
    .wrap.wrap-main .container{
        width:980px;
    }

}

.footer {
    height: 60px;
    background-color: #0072c3;;
    border-top: 1px solid #65a4d4;
    padding-top: 20px;
    text-shadow: 0 1px 1px #333;
}

.be-circle {
    border-radius: 50% !important;
}

.text-center {
    text-align: center;
}

.pull-left {
    float: left;
    display: block;
}

.pull-right {
    float: right;
    display: block;
}

/* PHONES */

.phones-block {
    position: absolute;
    right: 50px;
    top: 10px;
}

.phones-block p {
    margin-bottom: 0;
    text-shadow: 0 1px 1px #333;
}

/* LOGO TEXT */

.logo-c {
    font-family: Clip;
    padding-top: 70px;
}

.logo-t {
    font-size: 50px;
    margin-left: 100px;
    text-align: center;
    position: relative;
    padding-left: 0px;
    padding-top: 5px;
}

.logo-t > .academy {
    padding-right: 40px;
    text-shadow: 2px 1px 3px #083847;
}

.logo-t > .academy > span:first-child {
    font-size: 40px;
}

.logo-t > .academy > span:nth-child(3) {
    font-size: 30px;
    padding-top: 50px;
    display: inline-block;
}

.logo-t .ball-block {
    width: 165px;
    height: 170px;
    position: absolute;
    left:0;
    top:-5px;
}

.logo-t .ball {
    background-image: url("/img/ball.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 165px;
    height: 165px;
}

#ball-shadow {
    position: absolute;
    box-shadow: 0px 0px 7px rgb(31, 32, 33);
    display: block;
    height: 1px;
    width: 100px;
    background-color: rgba(31, 32, 33, 0.09);
    left: 0;
    right: 0;
    margin: 0 auto;

    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.psevdo-anim {
    -webkit-animation-name: bounceShadow;
    animation-name: bounceShadow;
}

@-webkit-keyframes bounceShadow {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: scale(1.2, 1);
        transform: scale(1.2, 1);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: scale(1.1, 1);
        transform: scale(1.1, 1);
    }

    90% {
        -webkit-transform: scale(1.05, 1);
        transform: scale(1.05, 1);
    }
}

@keyframes bounceShadow {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: scale(1.2, 1);
        transform: scale(1.2, 1);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: scale(1.1, 1);
        transform: scale(1.1, 1);
    }

    90% {
        -webkit-transform: scale(1.05, 1);
        transform: scale(1.05, 1);
    }
}

/* Classes */

.classes {
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center top;*/
    /*background-image: url(../img/1.jpg);*/
    height: 600px;
    padding-top: 10px;
    box-shadow: 0 0 10px black;
}

.classes .free-classes {
    font-size: 30px;
    text-shadow: 3px 0px 3px #1f2021;
    margin-bottom: 50px;
    margin-top: 30px;
    cursor: pointer;
}

.classes-animated {
    display: inline-block;
    background-color: rgba(0,0,0,0.7);
    padding: 5px 20px;
    border-radius: 5px;
}

.classes .abonement {
    width: 300px;
    height: 300px;
    background-color: rgba(0,0,0,0.7);
    margin: 0 auto;

    transition: all .2s ease-in-out;
}

.classes .abonement:hover {
    background-color: rgba(0,0,0,0.9);
}

.abonement .text-ab {
    width: 200px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(204, 204, 204, 0.72);
}

.abonement.ab6 .text-ab {
    padding-top: 60px;
}

.abonement.ab1 .text-ab {
    padding-top: 100px;
}

/* COACH */

.coach {
    padding-top: 50px;
    padding-bottom: 50px;
}

.prof-coach {
    font-size: 30px;
    font-family: Clip;
    text-shadow: 2px 1px 3px #083847;
    margin-bottom: 10px;
}

.thumbnail > img {
    max-width: 100%;
    height: auto;
    padding: 3px;
    border: 1px solid #9E9E9E;
    border-radius: 3px;
    background-color: white;
    transition: all .2s ease-in-out;
    margin-bottom: 5px;
}

.thumbnail > img:hover {
    transform: scale(1.1);
}

/* ADV */

.advantages {
    padding-top: 70px;
    padding-bottom: 100px;
}

.in-pfa {
    font-size: 30px;
    font-family: Clip;
    text-shadow: 2px 1px 3px #083847;
}

.thumbnail-circle > .adv {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;

    box-shadow: -2px 3px 4px #154a7f inset;
    transition: box-shadow .5s ease-in-out;
}

.thumbnail-circle > .adv:hover {
    box-shadow: 2px -3px 4px #154a7f inset;
}


.adv1 {
    background-image: url("/img/adv1.jpg");
}

.adv2 {
    background-image: url("/img/adv2.jpg");
}

.adv3 {
    background-image: url("/img/adv3.jpg");
}

/* ARENA */

.arena {
    height: 400px;
    padding-top: 10px;
    position: relative;
}

.arena .text-arena {
    position: absolute;
    top:100px;
    z-index: 5;
    font-size: 30px;
    text-shadow: 3px 0px 4px #000;
    margin-bottom: 50px;
}

.arena .ar {
    box-shadow: 0 0 10px black;
    display: block;
    top: 0;
    width: 50%;
    height: 400px;
    position: absolute;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.arena .arena1 {
    background-image: url(/img/adv4.jpg);
}

.arena .arena2 {
    left: 50%;
    background-image: url(/img/adv5.jpg);
}